/* CSS Document */
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: "Benton";
    src: url("../fonts/Benton/BentonSans\ Regular.otf");
}

@font-face {
    font-family: "Benton-Light";
    src: url("../fonts/Benton/BentonSans\ Light.otf");
}

@font-face {
    font-family: "Benton-Thin";
    src: url("../fonts/Benton/BentonSans\ Thin.otf");
}

@font-face {
    font-family: "Benton-Bold";
    src: url("../fonts/Benton/BentonSans\ Bold.otf");
}

@font-face {
    font-family: "Merriweather";
    src: url("../fonts/Merriweather/Merriweather-Regular.ttf");
}

:root {
    /* Padding */
    --padding-small: 8px;
    --padding-regular: 15px;
    --padding-medium: 23px;
    --padding-big: 30px;

    /* Margin */
    --margin-small: 8px;
    --margin-regular: 15px;
    --margin-medium: 23px;
    --margin-big: 30px;

    /* Kleur */
    --primaire-kleur: #000000;
    --secundaire-kleur: #ffffff;
    --tertiaire-kleur: #727272;

    /* Border */
    --divider-border: 1px solid #eaeaea;
}

body {
    background-color: #eaeaea;
    padding-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'capitolium-2', serif;
    color: var(--primaire-kleur);
    font-weight: normal;
}

main header p, figcaption {
    font-family: 'Benton-Thin';
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 0.8125em;
}

main header p strong, figcaption strong {
    margin-right: 5px;
}

strong {
    font-family: 'Benton-Bold';
    text-transform: uppercase;
}

main h1 strong, header h3 strong {
    font-family: 'capitolium-2', serif;
    text-transform: none;
}

ul, ol {
    list-style: none;
}

header p {
    color: var(--primaire-kleur);
    margin-top: 5px;
}

header h3 {
    font-size: 1.4em;
}

header h1 {
    font-size: 1.6em;
}

img {
    vertical-align: bottom;
}

/* Header */
/** Header Teaser **/
header, nav, figure {
    background-color: var(--secundaire-kleur);
}

header section {
    padding: 0 var(--padding-regular);
    font-family: 'Merriweather', serif;
    text-align: right;
    border-bottom: var(--divider-border);
    height: 79px;
    display: flex;
}

header section img {
    width: 65px;
    height: 65px;
    align-self: flex-end;
}

header section p {
    font-size: 0.8125em;
    margin: auto var(--margin-small) auto 0;
    line-height: 1.25em;
    color: var(--primaire-kleur);
}

header section p strong {
    font-size: 0.9em;
}

header section a {
    display: flex;
}

/** Header Logo **/
header > img {
    padding: var(--padding-regular);
    border-bottom: var(--divider-border);
}

/** Header Nav **/
header nav {
    height: 50px;
    border-bottom: var(--divider-border);
    overflow-x: scroll;
    z-index: 10;
}

.fixed { /* Fixed class voor wanneer je over de nav scrollt */
    position: fixed;
    top: 0;
}

.fixedMargin { /* Geeft de body een margin-top van de hoogte van de navbar */
    margin-top: 49px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    font-family: 'Merriweather';
    max-width: 350%;
    width: 350%;
    padding: 0 var(--padding-regular);
    font-size: 0.875em;
    height: 100%;
    align-items: center;
}

header nav ul li a {
    color: var(--tertiaire-kleur);
}

header nav .active {
    padding-bottom: 12px;
    border-bottom: 4px solid #000;
}

.activeBlue {
    padding-bottom: 12px;
    border-bottom: 4px solid #008bc3;
}

.activePink {
    padding-bottom: 12px;
    border-bottom: 4px solid #CF4776;
}

.activeGreen {
    padding-bottom: 12px;
    border-bottom: 4px solid #389f0f;
}

/* Main */
/** Top article **/
main > header {
    position: relative;
    padding: var(--padding-regular);
    box-shadow: 0 1px 0 #d4d4d4;
}

main > header header {
    position: absolute;
    bottom: 20px;
    left: 15px;
    right: 15px;
    margin: 0;
    padding: 75px 15px 15px 15px;
    background: linear-gradient(to top, rgba(0, 0, 0, .50), rgba(0, 0, 0, .50), rgba(0, 0, 0, 0));
    text-align: center;
    color: var(--secundaire-kleur);
}

main > header h1 {
    font-size: 1.5625em;
    color: var(--secundaire-kleur); 
}

main > header p {
    color: var(--secundaire-kleur);
}

/** Other articles **/
main > section {
    margin: 30px 0;
}

main > section:nth-of-type(1) {
    margin-top: var(--margin-small);
}

main > section > section, main > section > article {
    padding: var(--padding-regular);
    margin-bottom: var(--margin-small);
    box-shadow: 0 1px 0 #d4d4d4;
    background-color: var(--secundaire-kleur);
}

main > section > section > header {
    display: flex;
    align-items: center;
    border-top: 8px solid #008bc3;
    padding-top: var(--padding-regular);
    font-size: 0.8125em;
}

main > section > section > header h4 {
    font-family: 'Benton-Bold';
    text-transform: uppercase;
}

main > section > section > header a {
    font-family: 'Benton-Light';
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--primaire-kleur);
    margin-left: auto;
}

/** Unordered lists **/
main > section > section ul li {
    padding: var(--padding-regular) 0;
}

main > section > section ul li+li, main > section > section > ol li+li {
    border-top: var(--divider-border);
}

main > section > section ul li a {
    display: flex;
}

main > section > section ul li a img {
    width: 65px;
    height: 65px;
    margin: auto 0;
}

main section > section > ul li a header, main > section > section > ol li a header {
    margin: auto 0 auto var(--margin-regular);
}

main section > section > ul li a header h5, main > section > section > ol li a header h5 {
    font-family: 'Merriweather';
    white-space: pre-line;
}

main > section > article img {
    width: 100%;
    height: 175px;
    object-fit: cover;
    margin-bottom: 5px;
}

/** Ordered lists **/
main > section > section > ol {
    list-style: none;
}

/** Styling Nummers Lijst met before element gedaan, counter-increment
    zorgt ervoor dat er iets op een nummer wordt opgeteld en step-counter is
    de li (dus li 1 = 1, 2 = 2, etc..) **/
main > section > section > ol li {
    list-style: none;
    counter-increment: step-counter;
    display: flex;
    padding: var(--padding-regular) 0;
}

main > section > section > ol li::before {
    content: counter(step-counter);
    color: #ccc;
    font-size: 2.625em;
    margin: auto 0;
}

main > section > section > ol li a {
    display: flex;
    align-items: center;
    margin: auto 0;
}

main > section > header {
    padding: var(--padding-regular) 0;
    margin-bottom: var(--margin-small);
    box-shadow: 0 1px 0 #d4d4d4;
}

/** Meer button **/
main > section > footer {
    text-align: center;
    margin-top: var(--margin-regular);
    background-color: #eaeaea;
}

main > section > footer > button {
    color: var(--tertiaire-kleur);
    background-color: #f1f1f1;
    border: none;
    font-family: 'Benton';
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 25px;
    padding: 10px var(--padding-regular);
}

/** Button Uitgelicht **/
main > section:nth-of-type(4) header {
    padding: var(--padding-regular);
}

main > section:nth-of-type(4) header h2, main > section:nth-of-type(6) header h2, section:nth-of-type(7) header h2, section:nth-of-type(8) header h2, section:nth-of-type(9) header h2  {
    color: var(--primaire-kleur);
}

main > section:nth-of-type(4) header button {
    margin-top: var(--margin-medium);
    font-family: 'Benton';
    font-size: 0.8675em;
    border: 1px solid #eaeaea;
    width: 100%;
    padding: 10px 0;
    border-radius: 25px;
    background-color: white;
}

/** Header per section **/
main > section > header h2 {
    text-align: center;
    font-size: 1.4em;
    color: #008bc3;
    font-weight: bold;
    font-family: 'capitolium-2', serif;
}

main > section > header h2 span {
    font-family: 'Benton-Light';
    font-weight: normal;
    color: var(--primaire-kleur);
}

/** Top article per section **/
main > section article:nth-of-type(1) {
    padding: 0;
    position: relative;
}

main > section article:nth-of-type(1) img {
    height: 320px;
    width: 100%;
    margin: 0;
}

main > section article:nth-of-type(1) header {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 75px 15px 15px 15px;
    background: linear-gradient(to top, rgba(0, 0, 0, .50), rgba(0, 0, 0, .50), rgba(0, 0, 0, 0));
    text-align: right;
    color: var(--secundaire-kleur);
}

main > section article:nth-of-type(1) header h1, main > section article:nth-of-type(1) header p {
    color: var(--secundaire-kleur);
}

/** Column post **/
main > section:nth-of-type(3) article:nth-of-type(3) header,
main > section:nth-of-type(6) article:nth-of-type(2) header {
    background-color: #EFF7FC;
    padding: 10px;
}

main > section:nth-of-type(10) article:nth-of-type(2) header {
    background-color: #FAF0F3;
    padding: 10px;
}

main > section:nth-of-type(10) article:nth-of-type(2) a {
    background-color: #FAF0F3;
    display: flex;
    border-top: 8px solid #000000;
}

main > section:nth-of-type(11) article:nth-of-type(2) header {
    background-color: #EFF6EA;
    padding: 10px;
}

main > section:nth-of-type(11) article:nth-of-type(2) a {
    background-color: #EFF6EA;
    display: flex;
    border-top: 8px solid #000000;
}

main > section:nth-of-type(3) article:nth-of-type(3) h3,
main > section:nth-of-type(6) article:nth-of-type(2) h3,
main > section:nth-of-type(10) article:nth-of-type(2) h3,
main > section:nth-of-type(11) article:nth-of-type(2) h3 {
    font-size: 1.25em;
}

main > section:nth-of-type(3) article:nth-of-type(3) a,
main > section:nth-of-type(6) article:nth-of-type(2) a{
    display: flex;
    border-top: 8px solid #000000;
    background-color: #EFF7FC;
}

main > section:nth-of-type(3) article:nth-of-type(3) p,
main > section:nth-of-type(6) article:nth-of-type(2) p,
main > section:nth-of-type(10) article:nth-of-type(2) p,
main > section:nth-of-type(10) article:nth-of-type(2) p  {
    white-space: pre-line;
}

main > section:nth-of-type(6) article:nth-of-type(2) strong {
    color: #008bc3;
}

main > section:nth-of-type(10) article:nth-of-type(2) strong{
    color: #CF4776;
}

main > section:nth-of-type(11) article:nth-of-type(2) strong {
    color: #389F10;
}

main > section:nth-of-type(3) article:nth-of-type(3) img,
main > section:nth-of-type(6) article:nth-of-type(2) img,
main > section:nth-of-type(10) article:nth-of-type(2) img,
main > section:nth-of-type(11) article:nth-of-type(2) img {
    width: 40%;
    height: 40%;
    align-self: flex-end;
}

/** List Gids **/
main > section:nth-of-type(7) > header div {
    overflow-x: scroll;
}

main > section:nth-of-type(7) > header ul {
    width: 140%;
    max-width: 140%;
    display: flex;
    justify-content: space-between;
    padding: 0 var(--padding-regular);
    margin: var(--margin-regular) 0 0;
}

main > section:nth-of-type(7) > header ul li {
    font-family: 'Benton';
    font-size: 0.8675em;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    border-radius: 25px;
    background-color: white;
}

main > section:nth-of-type(7) > header ul li a {
    color: var(--primaire-kleur);
}

/** Uitgelicht grote card **/
main > section:nth-of-type(4) article:nth-of-type(2),
main > section:nth-of-type(7) article:nth-of-type(2) {
    position: relative;
}

main > section:nth-of-type(4) article:nth-of-type(2) img,
main > section:nth-of-type(7) article:nth-of-type(2) img {
    height: 100%;
}

main > section:nth-of-type(4) article:nth-of-type(2) header {
    position: absolute;
    top: 15px;
    margin: 0;
    left: 15px;
    right: 15px;
    padding: var(--padding-regular);
    background: linear-gradient(to bottom, rgba(0, 0, 0, .50), rgba(0, 0, 0, .50), rgba(0, 0, 0, 0));
    text-align: left;
    color: var(--secundaire-kleur);
}

main > section:nth-of-type(7) article:nth-of-type(2) header {
    position: absolute;
    top: 15px;
    margin: 0;
    left: 15px;
    right: 15px;
    padding: var(--padding-regular);
    background: transparent;
    text-align: left;
    color: var(--secundaire-kleur);
}

main > section:nth-of-type(7) article:nth-of-type(2) header h3,
main > section:nth-of-type(7) article:nth-of-type(2) header h3 p {
    color: var(--primaire-kleur);
}

/** Figure Sigmund **/
figure {
    padding: var(--padding-regular);
    overflow-x: scroll;
}

figure img {
    width: 300%;
    max-width: 300%;
}

/** Footer **/
footer {
    background-color: var(--secundaire-kleur);
    padding: var(--padding-regular);
    position: relative;
}

footer h3 {
    font-weight: bold;
}

footer header p:first-of-type a {
    color: #008bc3;
    font-family: 'Benton-Bold';
    font-weight: bold;
}

footer p:first-of-type {
    margin: var(--margin-regular) 0 var(--margin-medium) 0;
}

footer h4 {
    font-family: 'Benton-Bold';
    font-size: 0.875em;
    margin-top: var(--margin-big);
}

footer > section:last-of-type {
    border-bottom: var(--divider-border);
    padding-bottom: var(--padding-big);
}
footer ul li {
    margin: 10px 0;
}

footer ul li a {
    color: var(--primaire-kleur);
    font-family: 'Benton-Light';
    font-size: 0.875em;
}

footer > p {
    font-family: 'Benton-Light';
    font-size: 0.75em;
    line-height: 1.8em;
    white-space: pre-line;
    padding: var(--padding-regular) 0;
}

footer > img {
    position: absolute;
    right: 10%;
    bottom: 15.5%;
    width: 110px;
}


/** Bottom Nav **/
main aside nav {
    height: 60px;
    border-top: var(--divider-border);
    z-index: 10;
    background-color: var(--secundaire-kleur);
    position: fixed;
    bottom: 0;
    width: 100%;
}

main aside nav ul {
    display: flex;
    justify-content: space-around;
    font-family: 'Benton';
    font-size: 0.6em;
    height: 100%;
    align-items: center;
}

main aside nav ul li a {
    color: var(--tertiaire-kleur);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main aside nav .active {
    color: var(--primaire-kleur);
}

main aside nav ul li a svg {
    margin: 5px 0;
}