/* CSS Document */
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    text-decoration: none;
}


@font-face {
    font-family: "Benton";
    src: url("../fonts/Benton/BentonSans\ Regular.otf");
}

@font-face {
    font-family: "Benton-Light";
    src: url("../fonts/Benton/BentonSans\ Light.otf");
}

@font-face {
    font-family: "Benton-Thin";
    src: url("../fonts/Benton/BentonSans\ Thin.otf");
}

@font-face {
    font-family: "Benton-Bold";
    src: url("../fonts/Benton/BentonSans\ Bold.otf");
}

@font-face {
    font-family: "Merriweather";
    src: url("../fonts/Merriweather/Merriweather-Regular.ttf");
}

:root {
    /* Padding */
    --padding-small: 8px;
    --padding-regular: 15px;
    --padding-medium: 23px;
    --padding-big: 30px;

    /* Margin */
    --margin-small: 8px;
    --margin-regular: 15px;
    --margin-medium: 23px;
    --margin-big: 30px;

    /* Kleur */
    --primaire-kleur: #000000;
    --secundaire-kleur: #ffffff;
    --tertiaire-kleur: #727272;

    /* Border */
    --divider-border: 1px solid #eaeaea;
}

body {
    background-color: #eaeaea;
    padding-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'capitolium-2', serif;
    color: var(--primaire-kleur);
    font-weight: normal;
}

a:hover, main section > section > ul li a:hover, section > ol li a:hover, nav ul li a:hover{
    text-decoration: underline;
    color: var(--primaire-kleur);
}

main header p, figcaption {
    font-family: 'Benton-Thin';
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 0.8125em;
}

main header p strong, figcaption strong {
    margin-right: 5px;
}

strong {
    font-family: 'Benton-Bold';
    text-transform: uppercase;
}

main h1 strong, header h3 strong {
    font-family: 'capitolium-2', serif;
    text-transform: none;
}

ul, ol {
    list-style: none;
}

header p {
    color: var(--primaire-kleur);
    margin-top: 5px;
}

header h3 {
    font-size: 1.3em;
}

header h1 {
    font-size: 1.6em;
}

img {
    vertical-align: bottom;
    width: 100%;
}

/* Header */
/** Header Teaser **/
body > header, body > main > section > header, nav, figure {
    background-color: var(--secundaire-kleur);
}

header section {
    padding: 0 var(--padding-regular);
    font-family: 'Merriweather', serif;
    text-align: right;
    border-bottom: var(--divider-border);
    height: 79px;
    display: flex;
    max-height: 90px;
}

header > section > a:first-of-type {
    width: 45%;
    display: flex;
}

header section > a:last-of-type img {
    width: 65px;
    height: 65px;
    align-self: flex-end;
}

header section > a:first-of-type {
    display: none;
}

header section p {
    font-size: 0.8125em;
    margin: auto var(--margin-small) auto 0;
    line-height: 1.25em;
    color: var(--primaire-kleur);
}

header section p strong {
    font-size: 0.9em;
}

header section > a:last-of-type {
    display: flex;
}

header section > ul {
    display: none;
}

/** Header Logo **/
header > img {
    padding: var(--padding-regular);
    border-bottom: var(--divider-border);
}

/** Header Nav **/
header nav {
    height: 50px;
    overflow-x: scroll;
    z-index: 10;
    display: none;
}

header nav::-webkit-scrollbar, figure::-webkit-scrollbar, div::-webkit-scrollbar  {
    display: none;
}

.fixed { /* Fixed class voor wanneer je over de nav scrollt */
    position: fixed;
    display: block;
    top: 0;
}

header nav ul {
    border-bottom: var(--divider-border);
    display: flex;
    justify-content: space-between;
    font-family: 'Merriweather';
    max-width: 350%;
    width: 350%;
    padding: 0 var(--padding-regular);
    font-size: 0.875em;
    height: 100%;
    align-items: center;
}

header nav ul li a {
    color: var(--tertiaire-kleur);
}

header nav .active {
    padding-bottom: 12px;
    border-bottom: 4px solid #000;
}

.activeBlue {
    padding-bottom: 12px;
    border-bottom: 4px solid #008bc3;
}

.activePink {
    padding-bottom: 12px;
    border-bottom: 4px solid #CF4776;
}

.activeGreen {
    padding-bottom: 12px;
    border-bottom: 4px solid #389F10;
}

/* Main */
/** Top article **/
/** Other articles **/
main > section {
    margin-bottom: 30px;
}

main > section:first-of-type article:first-of-type {
    padding: var(--padding-regular);
}

main > section:first-of-type article:nth-of-type(1) header {
    left: 15px;
    right: 15px;
    bottom: 15px;
}


main > section > section, main > section > article {
    padding: var(--padding-regular);
    margin-bottom: var(--margin-small);
    box-shadow: 0 1px 0 #d4d4d4;
    background-color: var(--secundaire-kleur);
}

main > section > section > header {
    display: flex;
    align-items: center;
    border-top: 8px solid #008bc3;
    padding-top: var(--padding-regular);
    font-size: 0.8125em;
}

main > section > section > header h4 {
    font-family: 'Benton-Bold';
    text-transform: uppercase;
}

main > section > section > header a {
    font-family: 'Benton-Light';
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--primaire-kleur);
    margin-left: auto;
}

/** Unordered lists **/
main > section > section ul li {
    padding: var(--padding-regular) 0;
}

main > section > section ul li+li, main > section > section > ol li+li {
    border-top: var(--divider-border);
}

main > section > section ul li a {
    display: flex;
}

main > section > section ul li a img {
    width: 65px;
    height: 65px;
    margin: auto 0;
}

main section > section > ul li a header, main > section > section > ol li a header {
    margin: auto 0 auto var(--margin-regular);
}

main section > section > ul li a header h5, main > section > section > ol li a header h5 {
    font-family: 'Merriweather';
    white-space: pre-line;
}

main > section > article img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 5px;
}

/** Ordered lists **/
main > section > section > ol {
    list-style: none;
}

/** Styling Nummers Lijst met before element gedaan, counter-increment
    zorgt ervoor dat er iets op een nummer wordt opgeteld en step-counter is
    de li (dus li 1 = 1, 2 = 2, etc..) **/
main > section > section > ol li {
    list-style: none;
    counter-increment: step-counter;
    display: flex;
    padding: var(--padding-regular) 0;
}

main > section > section > ol li::before {
    content: counter(step-counter);
    color: #ccc;
    font-size: 2.625em;
    margin: auto 0;
}

main > section > section > ol li a {
    display: flex;
    align-items: center;
    margin: auto 0;
}

main > section > header {
    padding: var(--padding-regular) 0;
    margin-bottom: var(--margin-small);
    box-shadow: 0 1px 0 #d4d4d4;
}

/** Meer button **/
main > section > footer {
    text-align: center;
    margin-top: var(--margin-regular);
    background-color: #eaeaea;
}

main > section > footer > button {
    color: var(--tertiaire-kleur);
    background-color: #f1f1f1;
    border: none;
    font-family: 'Benton';
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 25px;
    padding: 10px var(--padding-regular);
    transition: 1.5s;
}

/** Button Uitgelicht **/
main > section:nth-of-type(4) article:nth-of-type(2) header {
    padding: var(--padding-regular);
}

main > section:nth-of-type(4) article:last-of-type header:last-of-type {
    padding: 0;
}

main > section:nth-of-type(4) header h2, main > section:nth-of-type(6) header h2, section:nth-of-type(7) header h2, section:nth-of-type(8) header h2, section:nth-of-type(9) header h2  {
    color: var(--primaire-kleur);
}

main > section:nth-of-type(4) header button {
    margin-top: var(--margin-medium);
    font-family: 'Benton';
    font-size: 0.8675em;
    border: 1px solid #eaeaea;
    background-color: var(--secundaire-kleur);
    width: 100%;
    padding: 10px 0;
    border-radius: 25px;
    transition: 1.5s;
}

main > section:nth-of-type(4) header button:hover {
    background-color: var(--primaire-kleur);
    color: var(--secundaire-kleur);
}

/** Header per section **/
main > section > header h2 {
    text-align: center;
    font-size: 1.4em;
    color: #008bc3;
    font-weight: bold;
    font-family: 'capitolium-2', serif;
}

main > section:nth-of-type(10) > header h2 { /* sport header */
    color: #CF4776;
}

main > section:nth-of-type(11) > header h2,
.full-article > main > section:last-of-type header h2 { /* sport header */
    color: #389F10;
}


main > section > header h2 span {
    font-family: 'Benton-Light';
    font-weight: normal;
    color: var(--primaire-kleur);
}

/** Top article per section **/
main > section article:nth-of-type(1) {
    padding: 0;
    position: relative;
}

main > section article:nth-of-type(1) img {
    height: 320px;
    width: 100%;
    margin: 0;
}

main > section article:nth-of-type(1) header {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 75px 15px 15px 15px;
    background: linear-gradient(to top, rgba(0, 0, 0, .50), rgba(0, 0, 0, .50), rgba(0, 0, 0, 0));
    text-align: right;
    color: var(--secundaire-kleur);
}

main > section article:nth-of-type(1) header h1, main > section article:nth-of-type(1) header p {
    color: var(--secundaire-kleur);
}

/** Column post **/
main > section:nth-of-type(3) article:nth-of-type(3) header,
main > section:nth-of-type(6) article:nth-of-type(2) header {
    background-color: #EFF7FC;
    padding: 10px;
}

main > section:nth-of-type(10) article:nth-of-type(2) header {
    background-color: #FAF0F3;
    padding: 10px;
}

main > section:nth-of-type(10) article:nth-of-type(2) a {
    background-color: #FAF0F3;
    display: flex;
    border-top: 8px solid #000000;
    height: 100%;
}

main > section:nth-of-type(11) article:nth-of-type(2) header,
.full-article > main > section:last-of-type > article:nth-of-type(2) header {
    background-color: #EFF6EA;
    padding: 10px;
}

main > section:nth-of-type(11) article:nth-of-type(2) a,
.full-article > main > section:last-of-type > article:nth-of-type(2) a {
    background-color: #EFF6EA;
    display: flex;
    border-top: 8px solid #000000;
    height: 100%;
}

main > section:nth-of-type(3) article:nth-of-type(3) h3,
main > section:nth-of-type(6) article:nth-of-type(2) h3,
main > section:nth-of-type(10) article:nth-of-type(2) h3,
main > section:nth-of-type(11) article:nth-of-type(2) h3,
.full-article > main > section:last-of-type > article:nth-of-type(2) h3 {
    font-size: 1.25em;
}

main > section:nth-of-type(3) article:nth-of-type(3) a,
main > section:nth-of-type(6) article:nth-of-type(2) a{
    display: flex;
    border-top: 8px solid #000000;
    background-color: #EFF7FC;
    height: 100%;
}

main > section:nth-of-type(3) article:nth-of-type(3) p,
main > section:nth-of-type(6) article:nth-of-type(2) p,
main > section:nth-of-type(10) article:nth-of-type(2) p,
main > section:nth-of-type(10) article:nth-of-type(2) p  {
    white-space: pre-line;
}

main > section:nth-of-type(6) article:nth-of-type(2) strong {
    color: #008bc3;
}

main > section:nth-of-type(10) article:nth-of-type(2) strong{
    color: #CF4776;
}

main > section:nth-of-type(11) article:nth-of-type(2) strong,
.full-article > main > section:last-of-type > article:nth-of-type(2) strong {
    color: #389F10;
}

main > section:nth-of-type(3) article:nth-of-type(3) img,
main > section:nth-of-type(6) article:nth-of-type(2) img,
main > section:nth-of-type(10) article:nth-of-type(2) img,
main > section:nth-of-type(11) article:nth-of-type(2) img,
.full-article > main > section:last-of-type > article:nth-of-type(2) img {
    width: 40%;
    height: 40%;
    align-self: flex-end;
}

/** List Gids **/
main > section:nth-of-type(7) > header div {
    overflow-x: scroll;
}

main > section:nth-of-type(7) > header ul {
    width: 140%;
    max-width: 140%;
    display: flex;
    justify-content: space-between;
    padding: 0 var(--padding-regular);
    margin: var(--margin-regular) 0 0;
}

main > section:nth-of-type(7) > header ul li {
    font-family: 'Benton';
    font-size: 0.8675em;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    border-radius: 25px;
    background-color: white;
    transition: 1.5s;
}

main > section:nth-of-type(7) > header ul li a {
    color: var(--primaire-kleur);
    transition: 1.5s;
}

/** Uitgelicht grote card **/
main > section:nth-of-type(4) article:nth-of-type(2),
main > section:nth-of-type(7) article:nth-of-type(2) {
    position: relative;
}

main > section:nth-of-type(4) article:nth-of-type(2) img,
main > section:nth-of-type(7) article:nth-of-type(2) img {
    height: 100%;
}

main > section:nth-of-type(4) article:nth-of-type(2) header {
    position: absolute;
    top: 15px;
    margin: 0;
    left: 15px;
    right: 15px;
    padding: var(--padding-regular);
    background: linear-gradient(to bottom, rgba(0, 0, 0, .50), rgba(0, 0, 0, .50), rgba(0, 0, 0, 0));
    text-align: left;
    color: var(--secundaire-kleur);
}

main > section:nth-of-type(7) article:nth-of-type(2) header {
    position: absolute;
    top: 15px;
    margin: 0;
    left: 15px;
    right: 15px;
    padding: var(--padding-regular);
    background: transparent;
    text-align: left;
    color: var(--secundaire-kleur);
}

main > section:nth-of-type(4) article:nth-of-type(2) header h3,
main > section:nth-of-type(4) article:nth-of-type(2) header p {
    color: var(--secundaire-kleur);
}

/** Figure Sigmund **/
figure {
    padding: var(--padding-regular);
    overflow-x: scroll;
}

figure img {
    width: 300%;
    max-width: 300%;
}

/** Button States **/
button:hover {
    background-color: var(--primaire-kleur);
    color: var(--secundaire-kleur);
}

a:focus {
    text-decoration: underline;
}

main > section a:active {
    color: var(--primaire-kleur);
    text-decoration: underline;
}

main > section:nth-of-type(2) a:active,
main > section:nth-of-type(3) a:active,
main > section:nth-of-type(5) a:active {
    color: #008bc3;
}

main > section:nth-of-type(10) a:active {
    color: #CF4776;
}

main > section:nth-of-type(11) a:active {
    color: #389F10;
}

main > section:nth-of-type(7) > header ul li:hover {
    background-color: var(--primaire-kleur);
    color: var(--secundaire-kleur);
}

main > section:nth-of-type(7) > header ul li a:hover {
    color: var(--secundaire-kleur);
}

/** Footer **/
footer {
    background-color: var(--secundaire-kleur);
    padding: var(--padding-regular);
    position: relative;
}

body > footer > section:first-of-type {
    border-top: var(--divider-border);
    padding-top: var(--padding-medium);
}

footer h3 {
    font-weight: bold;
}

footer > section p:first-of-type a {
    color: #008bc3;
    font-family: 'Benton-Bold';
    font-weight: bold;
}

footer > section h3 {
    font-size: 1.4em;
}

footer p:first-of-type {
    margin: var(--margin-regular) 0 var(--margin-medium) 0;
}

footer h4 {
    font-family: 'Benton-Bold';
    font-size: 0.875em;
    margin-top: var(--margin-big);
}

footer > section:last-of-type {
    border-bottom: var(--divider-border);
    padding-bottom: var(--padding-big);
}
footer ul li {
    margin: 10px 0;
}

footer ul li a {
    color: var(--primaire-kleur);
    font-family: 'Benton-Light';
    font-size: 0.875em;
}

footer > p {
    font-family: 'Benton-Light';
    font-size: 0.75em;
    line-height: 1.8em;
    white-space: pre-line;
    padding: var(--padding-regular) 0;
}

footer > img {
    position: absolute;
    right: 10%;
    bottom: 15.5%;
    width: 110px;
}


/** Bottom Nav **/
main aside nav {
    height: 60px;
    border-top: var(--divider-border);
    z-index: 10;
    background-color: var(--secundaire-kleur);
    position: fixed;
    bottom: 0;
    width: 100%;
}

main aside nav ul {
    display: flex;
    justify-content: space-around;
    font-family: 'Benton';
    font-size: 0.6em;
    height: 100%;
    align-items: center;
}

main aside nav ul li a {
    color: var(--tertiaire-kleur);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main aside nav .active {
    color: var(--primaire-kleur);
}

main aside nav ul li a svg {
    margin: 5px 0;
}

/* Full Article Styling */
/** 'Navigation' Article **/
.full-article > header > section:first-of-type {
    display: flex;
    padding: var(--padding-regular);
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: var(--secundaire-kleur);
    z-index: 15;
    border-bottom: var(--divider-border);
    max-height: 56px;
}

.full-article > header img {
    align-self: center;
    width: 60%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

.full-article > header > section a {
    display: flex;
    align-items: center;
}

/** Modal **/
.full-article header > section:nth-of-type(2) {
    flex-direction: column;
    background-color: var(--secundaire-kleur);
    max-height: 200px;
    height: auto;
    transition: 1.5s;
    position: fixed;
    top: 56px;
    width: 100%;
    opacity: 0;
}

.full-article header > section:nth-of-type(2).opacityModal {
    opacity: 1;
}

.full-article header > section:nth-of-type(2) svg {
    width: 55px;
}

.full-article header > section:nth-of-type(2) ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--margin-regular) 0;
}

.full-article header > section:nth-of-type(2) ul li {
    margin-right: var(--margin-small);
}

.full-article header > section:nth-of-type(2) > a {
    font-family: 'Benton-Light';
    color: var(--primaire-kleur);
    text-decoration: underline;
    margin: 0 auto var(--margin-medium) auto;
}

.full-article header > section:nth-of-type(2) > a svg{
    width: 20px;
    margin-right: var(--margin-small);
}

.full-article {
    margin-top: 55px; /* hoogte v/d nav */
}

.full-article main > article  {
    background-color: white;
    padding-top: var(--padding-medium);
    margin-bottom: var(--margin-big);
}

.full-article main > article header p, .full-article main > article  header h1, .full-article main > article  figcaption {
    text-align: center;
    padding: 0 var(--padding-regular);
}

.full-article main > article > header a {
    display: flex;
    align-items: center;
}

.full-article main > article > header p {
    font-size: 0.875em;
}

.full-article main > article > header p:first-of-type strong {
    color: #389F10;
}

.full-article main > article h1 {
    font-size: 2em;
    line-height: 1.1em;
}

.full-article main > article figure {
    padding: 0;
    margin: var(--margin-big) 0;
}

.full-article main > article figure img {
    width: 100%;
    max-width: 100%;
}

.full-article main > article figcaption {
    text-align: left;
    text-transform: none;
    margin-top: var(--margin-small);
}

.full-article main > article figcaption strong {
    font-family: 'Benton';
    text-transform: none;
}

.full-article main > article > header > p:nth-of-type(2){
    font-size: 1.375em;
    font-family: 'capitolium-2', serif;
    font-weight: lighter;
    text-transform: none;
    margin-bottom: var(--margin-medium);
}   

.full-article main > article > header {
    margin-bottom: var(--margin-big);
}

.full-article main > article > section {
    padding: 0 var(--padding-regular);
    font-family: 'capitolium-2', serif;
    font-size: 1.1875em;
}

.full-article main > article > section:first-of-type > p:first-of-type::first-letter {
    font-size: 5.5em;
    font-size: 90px;
    float: left;
    margin: -25px 10px -25px 0; 
}

.full-article main > article > section > p {
    margin-bottom: var(--margin-big);
}

.full-article main > article > section h2 {
    font-family: 'Benton-Bold';
    font-size: 1em;
    margin-bottom: var(--margin-small);
}

.full-article main > article > footer {
    padding-top: 0;
}

.full-article main > article > footer > section:first-of-type ul {
    display: flex;
    border-bottom: var(--divider-border);
}

.full-article main > article > footer > section:first-of-type ul li {
    margin-right: var(--margin-small);
}

.full-article main > article > footer > section:first-of-type svg {
    width: 40px;
}

.full-article main > article > footer > section:last-of-type {
    border: none;
    padding: var(--padding-small) 0;
}

.full-article main > article > footer > section:last-of-type ul {
    display: flex;
    flex-wrap: wrap;
}

.full-article main > article > footer > section:last-of-type ul li {
    margin: 10px 10px 5px 0;
}

.full-article main > article > footer > section:last-of-type ul li a {
    display: flex;
    align-items: center;
    color: #727272;
}

.full-article main > article > footer > section:last-of-type ul li a,
.full-article main > article > footer > section:last-of-type ul li h3  {
    font-size: 0.75em;
    text-transform: uppercase;
    font-family: 'Benton-Bold';
}

/** Button naar top **/
aside button {
    position: absolute;
    bottom: 85px;
    right: 15px;
    z-index: 10;
    position: fixed;
    padding: 10px var(--padding-regular);
    transition: 1.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--primaire-kleur);
    color: var(--secundaire-kleur);
    font-family: 'Benton';
    opacity: 0;
}

aside button:hover {
    background-color: var(--secundaire-kleur);
    color: var(--primaire-kleur);
    border: 1px solid var(--primaire-kleur);
}

.buttonOpacity {
    opacity: 1;
}

/** Progress bar **/
.full-article > header > section > div {
    position: absolute;
    background-color: var(--primaire-kleur);
    top: 56px;
    left: 0;
    height: 2px;
}

/* Media queries */
@media screen and (min-width: 520px) {
    header nav ul {
        max-width: 275%;
    }
}

@media screen and (min-width: 630px) { /* tablet formaat */
    body {
        max-width: 600px;
        margin: 0 auto;
        background-color: var(--secundaire-kleur);
    }

    main > header > article {
        box-shadow: none;
    }

    main > header > article, 
    main > section > section, main > section > article,
    main > header, header nav ul, header > section,
    .full-article > main > article > section,
    .full-article > main > article > footer {
        padding-left: 0;
        padding-right: 0;
    }

    main > header {
        border-bottom: 1px solid #d4d4d4;
        box-shadow: none;
    }

    header nav {
        display: block;
        height: 40px; 
        position: relative;
        max-width: 600px;
    }

    header nav .active, .activeBlue, .activePink, .activeGreen {
        padding-bottom: 7px;
    } 

    header nav ul {
        max-width: 200%;
    }

    aside {
        display: none;
    }

    .fixedMargin { /* Geeft de body een margin-top van de hoogte van de navbar */
        margin-top: 40px;
    }

    main h1, main > header h1 {
        font-size: 2.3em;
    }
    
    main > section, main > header, body > footer > section:nth-of-type(2) {
       display: grid;
       width: 600px;
       grid-template-columns: 280px 280px;
       grid-auto-rows: auto;
       grid-gap: 30px 40px;
       position: relative;
    }

    main > section:first-of-type {
        margin-top: var(--margin-regular);
    }

    figure {
        padding: 0;
    }

    main > section:first-of-type article:nth-of-type(1) header {
        left: 0;
        right: 0;
        bottom: 0;
    }

    main > header {
        margin: 30px 0;
        border: none;
    }

    main > header > article:nth-of-type(1) {
        height: 600px;
        grid-row: span 2;
        grid-column: span 2;
    }

    main > section > article:nth-of-type(1) {
        height: 600px;
        grid-row: span 2;
        grid-column: span 2;
    }

    main > section > figure {
        grid-row: span 2;
        grid-column: span 2;
    }

    main > section > figure img {
        width: 100%;
    }

    main > section > section {
        grid-row: span 2;
        height: 560px;
        margin: 0;
        padding: 0;
        box-shadow: none;
    }

    main > section:first-of-type > section:last-of-type {
        height: 280px;
        grid-row: span 1;
    }

    main > header > article:nth-of-type(1) div {
        bottom: 0;
        left: 0;
        right: 0;
    }

    main > section article, main > header > article {
        height: 280px;
        margin: 0;
        padding: 0;
        box-shadow: none;
    }

    main > section > article img {
        height: 140px;
    }   


    main > section:first-of-type > article:first-of-type {
        padding: 0;
    }

    main > section article:nth-of-type(1) header {
        padding: 15px;
    }
    
    main > section article:nth-of-type(1) img {
        height: 100%;
    }

    main > section:nth-of-type(4) > header {
        display: flex;
        align-items: center;
    }

    main > section:nth-of-type(4) > header {
        display: flex;
        align-items: center;
    }

    main > section:nth-of-type(4) article:nth-of-type(2) header {
        left: 0;
        right: 0;
        top: 0;
    }

    main > section:nth-of-type(4) > header button {
        margin: 0 0 0 var(--margin-regular);
        width: auto;
        padding: var(--padding-small) var(--padding-medium);
    }

    main > section:nth-of-type(7) > header {
        display: flex;
        align-items: center;
    }

    main > section:nth-of-type(7) > header div {
        flex-grow: 1;
        max-width: 491px;
    }

    main > section:nth-of-type(7) > header ul {
        margin: 0;
        padding: 0 0 0 var(--margin-regular);
        max-width: 100%;
    }

    main > section > header {
        grid-column: 1/3;
        grid-row: 1;    
        margin-bottom: 0;
        padding: 0 0 15px 0;
    }

    main > section > header > h2 {
        text-align: left;
        font-size: 2em;
    }

    main > section article:nth-of-type(1) {
        height: 600px;
    }

    main > section > footer {
        background-color: var(--secundaire-kleur);
        grid-column: 1/-1;
    }

    main > section:nth-of-type(7) article:nth-of-type(2) header {
        left: 0;
        top: 0;
    }

    main > section:nth-of-type(8) figure img {
        max-width: 175%;
    }

    main > section:nth-of-type(3) article:nth-of-type(3) a, main > section:nth-of-type(6) article:nth-of-type(2) a,
    main > section:nth-of-type(10) article:nth-of-type(2) a, main > section:nth-of-type(11) article:nth-of-type(2) a,
    .full-article > main > section:last-of-type > article:nth-of-type(2) a {
        flex-direction: column;
    }

    main > section:nth-of-type(3) article:nth-of-type(3) img, main > section:nth-of-type(6) article:nth-of-type(2) img, 
    main > section:nth-of-type(10) article:nth-of-type(2) img, main > section:nth-of-type(11) article:nth-of-type(2) img,
    .full-article > main > section:last-of-type > article:nth-of-type(2) img  {
        align-self: center;
        margin-bottom: 0;
        margin-top: auto;
    }

    main > section > footer > button {
        background-color: var(--secundaire-kleur);
        border: 1px solid #d4d4d4;
    }

    body > footer {
        padding: 0;
    }

    footer > p {
        grid-column: 1;
    }

    footer > section:first-of-type {
        grid-column: 1/-1;
    }

    footer > section:first-of-type h3 {
        font-size: 2em;
    }

    footer > p:first-of-type {
        margin-top: 350px;
    }

    footer > section:nth-of-type(2) {
        border: none;
        grid-row: 2/4;
        grid-column: 1/-1;
    }

    footer > p:first-of-type {
        margin-top: 100px;
        grid-column: 1/-1;
        font-size: 0.875em;
        border-top: 1px solid #d4d4d4;
    }

    footer > p:first-of-type a {
        color: #008bc3;
        text-decoration: underline;
    }

    footer > img {
        bottom: 14%;
        right: 5%;
    }

    .full-article > header > section {
        max-width: 600px;
    }

    .full-article > main > section > article:first-of-type {
        height: 600px;
        grid-column: 1/3;
        grid-row: 2/4;
    }

    .full-article > main > section:first-of-type article:last-of-type {
        grid-column: 2;
    }

    body > header {
        margin-top: var(--margin-medium);
    }

    .full-article > header {
        margin-top: 0;
    }

    header > section > a:last-of-type {
        width: 65%;
    }

    .full-article > header > section:first-of-type a {
        width: auto;
    }

    header > section > ul {
        margin-left: var(--margin-big);
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: space-between;
    }

    header > section > ul > li > a{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto 0;
        font-size: 0.6875em;
        color: var(--primaire-kleur);
        font-family: 'Benton-Light';
    }

    header > section > ul > li > a > svg {
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 1000px) { /* desktop formaat */
    body {
        max-width: 920px;
    }

    main > section, main > header {
       grid-template-columns: 280px 280px 280px;
    }

    body > footer > section:nth-of-type(2) {
        grid-template-columns: 200px 200px 200px 200px;
    }

    header > img {
        display: none;
    }

    header > section > a:first-of-type {
        display: flex;
        width: 45%;
    }

    header > section > a:last-of-type {
        width: 30%; 
        margin: 0 var(--margin-big);
    }

    header > section > a:last-of-type  > img {
        width: 85px;
        height: 85px;
    }

    header > section > ul {
        margin: 0;
    }

    header > nav  {
        max-width: 920px;
    }
    
    header > nav > ul {
        max-width: 135%;
    }

    .fixed {
        width: 920px;
    }

    main > section > figure {
        grid-column: span 3;
        width: 100%;
    }   

    main > section:nth-of-type(9) article {
        grid-column: span 3;
    }

    main > section > header, body > footer {
        width: 920px;
        max-width: 920px;
    }

    footer > img {
        bottom: 16%;
    }
}

@media screen and (min-width: 1320px) { /* desktop groot formaat */
    body {
        max-width: 1240px;
    }

    header > nav  {
        max-width: 1240px;
    }
    
    header > nav > ul {
        max-width: 100%;
    }

    .fixed {
        width: 1240px;
    }

    main > section, main > header {
       grid-template-columns: 280px 280px 280px 280px;
    }

    body > footer, body > footer > section:nth-of-type(2), body > footer {
        display: grid;
        grid-template-columns: 280px 280px 280px 280px;
        grid-gap: 30px 40px;
    }

    main > section > header {
        grid-column: span 4;
        max-width: 1240px;
        width: 1240px;
    }

    main > section:nth-of-type(2) section,
    main > section:nth-of-type(8) section {
        grid-column: 4;
    }

    main > section:nth-of-type(2) article:last-of-type,
    main > section:nth-of-type(8) article:last-of-type{
        grid-row: 2;
        grid-column: 3;
    }

    main > section > figure,
    main > section:nth-of-type(9) article {
        grid-column: span 4;
    }

    main > section:nth-of-type(9) article header {
        right: 0;
        padding: 75px 15px 15px 162px;
    }

     
}